<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Quest For Health</span>
  <div style="width: 5px"></div>
  <span *ngIf="doctorLoginService.isUserLoggedIn() && !userLoginService.isUserLoggedIn()">
    <button mat-button routerLink="/doctors/overview">Patient Overview</button>
  </span>
  <span *ngIf="!doctorLoginService.isUserLoggedIn() && userLoginService.isUserLoggedIn()">
    <button mat-button routerLink="/users/profile">Profile</button>
  </span>
  <span *ngIf="!doctorLoginService.isUserLoggedIn() && userLoginService.isUserLoggedIn()">
    <button mat-button routerLink="/users/overview">Quest Overview</button>
  </span>
  <span *ngIf="!doctorLoginService.isUserLoggedIn() && userLoginService.isUserLoggedIn()">
    <button mat-button routerLink="/users/browseQuests">Find new Quests</button>
  </span>
  <div style="width: 5px"></div>
  <span *ngIf="doctorLoginService.isUserLoggedIn() || userLoginService.isUserLoggedIn()">
    <button mat-button (click)="logOut()" routerLink="/">Logout</button>
  </span>
  <div style="width: 5px"></div>
  <span *ngIf="!doctorLoginService.isUserLoggedIn() && !userLoginService.isUserLoggedIn()">
    <button mat-button routerLink="/doctors">Doctor Login</button>
  </span>
  <span *ngIf="!doctorLoginService.isUserLoggedIn() && !userLoginService.isUserLoggedIn()">
    <button mat-button routerLink="/userLogin">User Login</button>
  </span>
  <span *ngIf="!doctorLoginService.isUserLoggedIn() && !userLoginService.isUserLoggedIn()">
    <button mat-button routerLink="/createCharacter">Create new character</button>
  </span>
</mat-toolbar>
