<mat-toolbar color="primary">
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
   <mat-icon style="font-size: 30px">menu</mat-icon>
  </button> -->
  <span style="font-size: 30px; margin-left: 30px">Quest For Health</span>
  <div style="width: 20px"></div>
  <span *ngIf="doctorLoginService.isUserLoggedIn() && !userLoginService.isUserLoggedIn()">
    <button mat-button routerLink="/doctors/overview" class="button">Patient Overview</button>
  </span>
  <span *ngIf="doctorLoginService.isUserLoggedIn() && !userLoginService.isUserLoggedIn()">
    <button mat-button routerLink="/doctors/manage" class="button">Manage Patients</button>
  </span>
  <span *ngIf="!doctorLoginService.isUserLoggedIn() && userLoginService.isUserLoggedIn()">
    <button mat-button routerLink="/users/profile" class="button">Profile</button>
  </span>
  <span *ngIf="!doctorLoginService.isUserLoggedIn() && userLoginService.isUserLoggedIn()">
    <button mat-button routerLink="/users/overview" class="button">Quest Overview</button>
  </span>
  <span *ngIf="!doctorLoginService.isUserLoggedIn() && userLoginService.isUserLoggedIn()">
    <button mat-button routerLink="/shop" class="button">Shop</button>
  </span>
  <span *ngIf="!doctorLoginService.isUserLoggedIn() && userLoginService.isUserLoggedIn()">
    <button mat-button routerLink="/story" class="button">Story</button>
  </span>
  <span *ngIf="!doctorLoginService.isUserLoggedIn() && userLoginService.isUserLoggedIn()">
    <button mat-button routerLink="/users/browseQuests" class="button">Find new Quests</button>
  </span>
  <div style="width: 5px"></div>
  <span *ngIf="!doctorLoginService.isUserLoggedIn() && !userLoginService.isUserLoggedIn()">
    <button mat-button routerLink="/doctors" class="button">Doctor Login</button>
  </span>
  <span *ngIf="!doctorLoginService.isUserLoggedIn() && !userLoginService.isUserLoggedIn()">
    <button mat-button routerLink="/userLogin" class="button">User Login</button>
  </span>
  <span *ngIf="!doctorLoginService.isUserLoggedIn() && !userLoginService.isUserLoggedIn()">
    <button mat-button routerLink="/createCharacter" class="button">Create new character</button>
  </span>
  <span class="flexExpand"></span>
  <div style="width: 5px; "></div>
  <span *ngIf="doctorLoginService.isUserLoggedIn() || userLoginService.isUserLoggedIn()">
    <button mat-button (click)="logOut()" routerLink="/" style="margin-right: 50px"><mat-icon style="font-size: 30px">logout</mat-icon></button>
  </span>
</mat-toolbar>
<app-user-info [user]="user" *ngIf="userLoginService.isUserLoggedIn()" style="background-color: #6739b7;"></app-user-info>
