<br>

<div *ngIf="loaded">
  <span style="margin: auto;" fxFlex="78%">
    <mat-card class="my-transparent" style="position: absolute; width: 75%">
      <div fxLayout="row">
        <div style="padding-left: 0%">
          <label><br>
            <button [disabled]="displayChapter.prevChapter <= 0" mat-stroked-button (click)="prev()" style="width: 100%; min-width: 90px; background: rgba(255, 255, 255, 0.3)"><mat-icon>arrow_back</mat-icon></button>
          </label>
        </div>
        <div style="padding-left: 38%">
          <mat-form-field appearance="fill" >
            <mat-label>Choose chapter</mat-label>
            <mat-select [(value)]="displayChapter.name" (valueChange)="changed($event)" >
              <mat-option *ngFor="let chap of previousChapters" [value]="chap.name">
                {{chap.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div  style="padding-left: 34.5%; min-width: 90px;">
          <label><label *ngIf="showRequired"> Missing: {{required}} st</label><br>
            <button [disabled]="showRequired" mat-stroked-button (click)="next()" style="width: 100%; background: rgba(255, 255, 255, 0.3)"><mat-icon>arrow_forward</mat-icon></button>
          </label>
        </div>
      </div>
      <br><br>
      <div>
        {{displayChapter.description}}<br>
      </div>
    </mat-card>
    <img [src]="picture" alt="Story-Chapter Picture" style="width: 98.4%; max-height: 97.5vh; object-fit: contain">
  </span>
</div>

<!--
<img [src]="picture" alt="Story-Chapter Picture" style="width: 1216px; height: 684px; margin: auto">
-->
