<br>
<div class="center">
  <mat-card class="mat-elevation-z2 my-transparent" style="width: 65vw; height: 31vw">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Head"> <app-equipment-component type="head"></app-equipment-component> </mat-tab>
      <mat-tab label="Torso"> <app-equipment-component type="torso"></app-equipment-component> </mat-tab>
      <mat-tab label="Legs"> <app-equipment-component type="legs"></app-equipment-component> </mat-tab>
      <mat-tab label="Arms"> <app-equipment-component type="arms"></app-equipment-component> </mat-tab>
      <mat-tab label="Right Hand"> <app-equipment-component type="right hand"></app-equipment-component> </mat-tab>
      <mat-tab label="Left Hand"> <app-equipment-component type="left hand"></app-equipment-component> </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
