.form{
  padding-top: 15vh;
  height: 30vh;
  margin-left: 25%;
  justify-content: center;
  align-items: center;
  width: 50%;
  alignment: center;
}
.mat-form-field{
  margin-left: 5%;
  width: 100%;
  max-width:400px;

}
.my-transparent{
  background: rgba(255,255,255,0.7);
}
