.center-small{
  min-width: 450px;
}

.center{
  display: flex;
  justify-content: center;
}

.scroller{
  height: 55vh;
  overflow-y: scroll;
}

.scroller2{
  height: 61.4vh;
  overflow-y: scroll;
}

.my-transparent{
  background: rgba(255,255,255,0.8);
}
