<div [style.padding-left]="'8vw'" [style.padding-top]="'17vh'" style="width: 40%">
  <mat-card>
    <mat-card-header>
      <h1>Welcome to Quest For Health</h1>
    </mat-card-header>
    <mat-card-content>
      <span>
        <p>
        Quest For Health is an online browser role play game to help people lead a healthy life.
        </p>
        <p>
        This is achieved through quests that are to be performed. The quests are, for example, general exercise quests, such as walking or running. If a treating physician uses this application, the physician can also assign quests. For example, in the case of physiotherapy, treatment is improved when exercises are completed.
        </p>
        <p>
        For completed quests, one receives experience points and gold. The gold received can be used to buy and equip items that give strength to one's character. With the strength, a coherent story is told.
        </p>
      </span>
    </mat-card-content>
    <br>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/userLogin">Login</button>
      <button mat-raised-button color="primary" routerLink="/createCharacter">Join us</button>
      <button mat-raised-button color="accent" routerLink="/doctors">Doctor</button>
    </mat-card-actions>
  </mat-card>
</div>
