<div class="side-margin">
  <table style="width: 100%">
    <tr>
      <td> <!-- Thats a little trick in order to keep table size consistent when switching quests -->
        <mat-card class="mat-elevation-z4">
          <div *ngIf="equipped">
            <mat-card-title-group>
              <mat-card-title>Currently {{equipped.name}} is equipped</mat-card-title>
            </mat-card-title-group>
            <mat-card-content>
              <p>
                {{equipped.description}}
              </p>
              <p><b>Strength</b><br>
                {{equipped.strength}} st
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-stroked-button (click)="unequip()"> Unequip this </button>
            </mat-card-actions>
          </div>

          <div *ngIf="!worn">
            <mat-card-title-group>
              <mat-card-title>Currently nothing equipped</mat-card-title>
            </mat-card-title-group>
            Nothing equipped! Equip items or buy new items in the shop!
          </div>
        </mat-card>
      </td>
    </tr>
  </table>
</div>

