tr.equipTable:hover {
  background: whitesmoke;
}

.even{
  background-color: rgba(200,170,252,0.8);
}

.odd{
  background-color: rgba(143,112,198,0.7);
}

.my-transparent{
  background: rgba(255,255,255,0.8);
}

.complete-transparent{
  background: rgba(255,255,255,0);
}
