<mat-drawer-container class="background">
  <mat-drawer #drawer mode="over" class="background">
    <div style="padding-left: 30px; padding-right: 30px">
      <dl>
        <dt>
    <span *ngIf="!doctorLoginService.isUserLoggedIn() && userLoginService.isUserLoggedIn()">
    <button mat-button routerLink="/users/overview" class="button" (click)="drawer.toggle()">
      <fa-stack class="fa-xs fa-stack small" style="margin-left: -10px">
      <fa-icon class="fa-stack-2x" stackItemSize="1x" style="color: white;" [icon]="faStory"></fa-icon>
      <fa-icon class="fa-stack-1x smaller" stackItemSize="1x" style="color: tomato;" [style.padding-left]="'13px'" [icon]="faHeart"></fa-icon>
    </fa-stack>  Quest Overview
    </button>
  </span>
        </dt>
        <dt>
    <span *ngIf="!doctorLoginService.isUserLoggedIn() && userLoginService.isUserLoggedIn()">
    <button mat-button routerLink="/users/browseQuests" class="button"
            (click)="drawer.toggle()"> <fa-icon
      [icon]="faLocationArrow"></fa-icon> Find new Quests</button>
  </span>
        </dt>
        <dt>
    <span *ngIf="!doctorLoginService.isUserLoggedIn() && userLoginService.isUserLoggedIn()">
    <button mat-button routerLink="/users/profile" class="button" (click)="drawer.toggle()">
      <fa-icon
        [icon]="faUser"></fa-icon> Profile
    </button>
  </span>
        </dt>
        <dt>
    <span *ngIf="!doctorLoginService.isUserLoggedIn() && userLoginService.isUserLoggedIn()">
    <button mat-button routerLink="/shop" class="button" (click)="drawer.toggle()">
      <fa-icon
      [icon]="faStore"></fa-icon> Shop
    </button>
  </span>
        </dt>
        <dt>
    <span *ngIf="!doctorLoginService.isUserLoggedIn() && userLoginService.isUserLoggedIn()">
    <button mat-button routerLink="/story" class="button" (click)="drawer.toggle()">
      <fa-icon
        [icon]="faBook"></fa-icon> Story
    </button>
  </span>
        </dt>
        <dt>
    <span *ngIf="!doctorLoginService.isUserLoggedIn() && userLoginService.isUserLoggedIn()">
    <button mat-button routerLink="/users/leaderboard" class="button" (click)="drawer.toggle()"><fa-icon
      [icon]="faTrophy"></fa-icon>&nbsp;Ranking</button>
  </span>
        </dt>
      </dl>
    </div>
  </mat-drawer>
  <table>
    <tr>
      <td style="max-width: 20px" *ngIf="!doctorLoginService.isUserLoggedIn() && userLoginService.isUserLoggedIn()">
        <div>
          <button type="button" mat-button (click)="drawer.toggle()">
            <mat-icon class="white-icon"> menu</mat-icon>
          </button>
        </div>
      </td>
      <td>
        <app-header></app-header>

      </td>
    </tr>
  </table>
  <div>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
